/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* general */
:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255ee9;
    --color-section-bg: #f6f6f6;
    --color-contrast: #aebbe7;
}
.debug {
    border:1px solid red;
}
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
img {
    max-width: 100%;
}
.btn-shape {
    border: none;
    background: none;
    border-radius: 15px;
    padding: 10px;
}
.btn-scondary {
    background-color: var(--color-scondary);
}
.btn-primary {
    background-color: var(--color-primary);
}
.btn-contrast {
    background-color: var(--color-contrast);
}
button:hover {
        box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}
.text-scondary {
    color: var(--color-scondary);
}
nav li a {
    margin: 10px;
}
ul li a{
    color: var(--color-scondary);
}
/* header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}
#hero {
    background-image: url('../img/jumbo.png');
    min-height: 500px;
    background-size: cover;
}
/* main */
.section-bg {
    background-color: var(--color-section-bg);
}
.left {
    width: 60%;
}
.left img{
    width: 100%;
}
.right {
    width: 40%;
    padding-top: 3%;
}
.text-align-center {
    text-align: center;
}
#call-to-action {
    padding-bottom: 3%;
}

/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
footer.top {
    border-bottom: 1px solid var(--color-contrast);
}
footer ul li {
    font-size: smaller;
}
.text-contrast {
    color: var(--color-contrast);
}
/* utility */
.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 10px;
}
.small-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.padding {
    padding-top: 3%;
    padding-left: 3%;
}
.small-container h3{
    display: inline-block;
    padding: 2% 5%;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
p, ul li a {
    line-height: 2em;
}
/* flex utilities */
.d-flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
.space-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
    align-content: center;
}
